.key {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.secret-word {
  height: 100px;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.word-container {
  display: inline-block;
  border-bottom: 1px solid black;
  margin: 2rem;
  width: 50px;
}
